$background: #f5f5f4
$primary: #D84315
$darkHighlight: #BF360C
$fontA: 'Montserrat', sans-serif
$fontB: 'Open Sans', sans-serif
 

*
	margin: 0
	padding: 0
	font-family: $fontA
	font-weight: 400
	font-size: 100%

body
	background: -webkit-linear-gradient(left top, #e0e0e0 2%, $background 98%)
	background: linear-gradient(bottom right, #e0e0e0 2%, $background 98%)
	background: -moz-linear-gradient(bottom right, #e0e0e0 2%, $background 98%)
	background: -o-linear-gradient(to bottom right, #e0e0e0 2%, $background 98%)

#content
	width: 100%
	min-height: 40em

@import 'header'
@import 'footer'
@import 'home'

